*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/res/values/apikeys.xml
!/app/src/main/res/values/apikeys.xml
.idea/dictionaries/
app/app-release.apk
app/src/main/res/values/apikeys.xml
